<ul class="list-group">
  <li *ngFor="let recipeEntry of recipeEntries" class="list-group-item">
    <div class="row">
      <div class="col-sm-8">
        <a href="{{recipeEntry.url}}" class="text-primary" target="_blank"><strong>{{recipeEntry.title}}</strong></a>
      </div>
      <div class="col-sm-3 bg-primary">
        <span><strong>{{recipeEntry.date|date:'EEEE d MMMM'}}</strong></span>
      </div>
      <div class="col-sm-1"><span  (click)="removeEntry(recipeEntry)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></span>
      </div>
    </div>
  </li>
</ul>


