<div class="recipe-list">
  <ul class="list-group">
    <li *ngFor="let recipeEntry of recipeEntries" class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
          <a href="{{recipeEntry.url}}" class="text-primary font-large"
             target="_blank"><strong>{{recipeEntry.title}}</strong></a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-info" href="{{recipeEntry.url}}" target="_blank"><strong>{{recipeEntry.date|date:'EEEE d MMMM'}}</strong></a>
        </div>
        <div class="col-sm-2"><button (click)="removeEntry(recipeEntry)" class="btn btn-default pull-right"><i class="fa fa-trash-o fa-2x"
                                                                          aria-hidden="true"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>


