<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-10">
        <h1>
          Recepten Planner
        </h1>
      </div>
      <div class="col-md-2 pull-right logon">
        <button class="btn btn btn-primary" *ngIf="!auth.authenticated()" (click)="auth.login()">Login</button>
        <button class="btn btn btn-primary" *ngIf="auth.authenticated()" (click)="auth.logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="jumbotron col-lg-8">
    <h2>Voeg recept toe voor de komende week</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-8" [hidden]="submitted">
    <div class="panel panel-default">
      <div class="panel-heading">Vul recept in</div>
      <div class="panel-body">
        <form [formGroup]="recipeEntryForm" novalidate (ngSubmit)="save(recipeEntryForm.value, recipeEntryForm.valid)">
          <div class="form-group"
               [class.has-error]="!recipeEntryForm.controls.title.valid && !(recipeEntryForm.controls.title.pristine && !submitted)">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
              <label for="title" class="sr-only">Titel</label>
              <input class="form-control" placeholder="Vul naam recept in" type="text" formControlName="title"
                     [(ngModel)]="model" id="title"/>
            </div>
            <span class="help-block"
                  *ngIf="!recipeEntryForm.controls.title.valid && !(recipeEntryForm.controls.title.pristine && !submitted)">
              title is required.
            </span>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"> <i class="fa fa-bookmark-o" aria-hidden="true"></i></span>
              <label for="url" class="sr-only"></label>
              <input class="form-control" placeholder="Vul url in" type="text"
                     formControlName="url" id="url"/>
            </div>
          </div>
          <div class="form-group">
            <h4><span><i class="fa fa-calendar-o" aria-hidden="true"></i></span>&nbsp;Data</h4>
            <div class="checkbox" *ngFor="let day of days">
              <label>
                <input type="checkbox" [(ngModel)]="day.checked" value="{{day.date}}" formControlName="{{day.name}}">
                {{day.date|date:'EEEE d MMMM'}}
              </label>
            </div>
          </div>
          <button class="btn btn-default" type="submit">Voeg toe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8" [hidden]="!submitted">
    <h3 class="alert alert-success">Recept {{recipeEntryForm.controls.title.value}} toegevoegd!</h3>
    <button class="btn btn-default" type="button" (click)="resetForm()">Klaar</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class=""><h2>Geplande recepten</h2></div>
    <app-recipe-list></app-recipe-list>
  </div>
</div>
